.filtersWidget {
    width: 20%;
    height: 100vh;
    padding: 15px;
    box-shadow: -7px -1px 7px -4px #ccc;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.filtersWidget h2 {
    margin: 0 0 20px;
    font-size: 1.4rem;
    font-weight: lighter;
}

.formElementContainer {
    margin-bottom: 25px;
}

.categoryName {
    margin: 0 0 14px;
}

.priceLabel {
    margin-right: 8px;
}

.priceInput {
    width: 95px;
    margin-left: 8px;
}

.favoritesOnly {
    font-size: 20px;
}

.categorySelect {
    width: 90%;
    height: 30px;
    border-radius: 3px;
    border: solid 1px #d4d8db;
    padding: 3px;
    font-size: 0.9rem;
}
