.filtersWidget {
    width: 450px;
    height: 100vh;
    padding: 15px;
    box-shadow: -9px -1px 7px -4px #ccc;
}

.filtersWidget h2 {
    margin: 0 0 20px;
    font-size: 1.4rem;
    font-weight: lighter;
}

.categoryName {
    margin: 0 0 14px;
}

.priceLabel {
    margin-right: 8px;
}

.priceInput {
    width: 100px;
    margin-left: 8px;
}

.favoritesOnly {
    font-size: 20px;
}