.filtersWidget {
    width: 450px;
    height: 100vh;
    padding: 15px;
    box-shadow: -9px -1px 7px -4px #ccc;
}

.categoryName {
    
}

.priceLabel {
    margin-right: 4px;
}

.priceInput {
    width: 100px;
}