.product {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 7px #cccccc;
    margin: 0 auto 20px;
    padding: 5px;
    font-size: 0.95rem;
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.title, .price {
    margin: 0 0 10px;
    font-size: 0.8rem;
}

.price {
    font-weight: bolder;
}

.sellerInfo {
    margin: 0 0 5px;
    font-size: 0.7rem;
}

.imageContainer {
    width: 45%;
    height: auto;
    max-width: 350px;
    margin-right: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.imageContainer img {
    width: 100%;
    height: auto;
}

.additionalPhotos {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 100%;
    background-color: rgba(0, 112, 201, 0.9);
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainInfo {
    width: 55%;
}

@media screen and (min-width: 400px) {
    .sellerInfo {
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 500px) {
    .imageContainer {
        margin-right: 10px;
    }

    .additionalPhotos {
        width: 30px;
        height: 30px;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 960px) {
    .title, .price, .sellerInfo {
        font-size: 1rem;
    }

    .additionalPhotos {
        width: 35px;
        height: 35px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .product {
        width: 55%;
        max-width: 700px;
    }
}

@media screen and (min-width: 1600px) {
    .title, .price, .sellerInfo {
        font-size: 1.1rem;
    }
}