.advertsList {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    padding-top: 80px;
    background-color: #fff;
    box-sizing: border-box;
}

@media screen and (min-width: 960px) {
    .advertsList {
        width: 75%;
    }
}

@media screen and (min-width: 1600px) {
    .advertsList {
        width: calc(100% - 400px);
    }
}