.advert {
    width: 80%;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 7px #ccc;
    margin: 0 auto;
    padding: 15px;
}

@media screen and (min-width: 1200px) {
    .advert {
        width: 800px;
        height: 450px;
    }
}